<app-menu></app-menu>
<div class="container" >
    <div class="row">
      <div class="col-sm" style="margin-top: 40px; margin-bottom: 40px; margin-left: 40px; margin-right: 40px;">
        <img src="/assets/images/banco1.png" style="width: 620px; height: 700px;">
      </div>
      <div class="col-sm" style="margin-top: 40px; margin-bottom: 40px;margin-right: 40px;">
        <div class="card text-center">
          <div class="card-header">
            Sisbanco
          </div>
             <router-outlet></router-outlet>
         
         </div>
     </div>
    </div>
</div>

